doctype html
html
    head
        title=title
        block style
            link(rel="stylesheet", href="/css/main.css")
    body
        block menu
            include menu.pug
        block main
        block footer
            include footer.pug