ul.menu
    li.menu-item
        a(href="/") Todo list
    li.menu-item
        a(href="/create") Create
    li.menu-item
        a(href="/about") About
    li.menu-item
        a(href="/login") Login